name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    branches: [ master ]
  label:
    branches: [ master ]
  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Prepare Release Variables
      id: vars
      uses: tendermint/starport/actions/release/vars@develop

    - name: Build
      run: go build -o gox -v ./...

    - name: Test
      run: go test -v ./...
      
    - name: Cross build
      run: mkdir release && ./gox -ldflags="-w -s" -output="release/{{.Dir}}_{{.OS}}_{{.Arch}}"

    - name: Delete the "latest" Release
      uses: dev-drprasad/delete-tag-and-release@v0.2.0
      if: ${{ steps.vars.outputs.is_release_type_latest == 'true' }}
      with:
          tag_name: ${{ steps.vars.outputs.tag_name }}
          delete_release: true
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish the Release
      uses: softprops/action-gh-release@v1
      with:
          tag_name: ${{ steps.vars.outputs.tag_name }}
          files: release/*
          prerelease: true 
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
